{# [module]/templates/homepage-theme.html.twig #}
<div class="box-buttons d-flex flex-column min-vh-100 justify-content-center">
  <a class="btn-home-1 btn btn-primary btn-lg" href="{{ data.createPedido.link }}">{{ data.createPedido.text }}</a>
  <a class="btn-home-1 btn btn-primary btn-lg" href="{{ data.createPedido.link }}">{{ data.showPedidos.text }}</a>
  <a class="btn-home-1 btn btn-primary btn-lg" href="{{ data.createPedido.link }}">{{ data.showProductos.text }}</a>
</div>

